// basic
.button, button, a{
    outline: 0;
}
button:focus, a:focus{
    color: inherit;
}

html, body{
    -webkit-font-smoothing: antialiased;
}
ul{
	font-size: 1em;
}
p{
    line-height: 1.3;
    margin-bottom: 0;
}



 
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1,
.col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.text-center{
	text-align: center;
}

.container{
    max-width: 1110px;
    width: 100%;
}

.sans{
	font-family:'Open Sans',Helvetica,Arial,sans-serif;
}

.hidden-xs{
 	display: none;
 	@media (min-width: 768px) { 
		display: inline-block; 
 	}
}
.visible-xs-block{
	@media (min-width: 768px) { 
		display: none!important;
 	}
}

 
main{
	background-image: linear-gradient( 180deg, rgb(167, 167, 167) 0px,  rgba(167, 167, 167, 0) 190px);
}
.container{
	overflow: hidden;
}

.intro{
	padding: 20px 0;
}
.intro-photo{
	position: relative;
	@media (max-width: 992px) {
		margin-left: -20px;
		margin-right: -10px;
		display: inline-block;
		margin-top: 15px;
	}
	@media (min-width: 992px) { 
		text-align: right;
		margin-right: -10px;
		margin-top: 10px;
 	}
	img{
		text-align: right;
		max-width: 100%;
	}
	.wrap{
		position: absolute;
		bottom:10px;
		right:25px;
		text-align: right;
	}
	.button{
		display: block;
		background: #1b8bea; 
		border-radius: 4px;
		background-image: linear-gradient( 0deg, rgb(0,71,116) 0%, rgb(28,141,237) 100%);
		width: 200px;
		height: 32px;
		line-height: 32px;
		color: #fff;
		text-align: center;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: -0.5px;
		margin-bottom: 5px;
		@media (min-width: 992px) { 
			width: 262px;
			height: 45px;
			line-height: 45px;
			font-size: 28px;
	 	}
		&:hover{
			background-image: linear-gradient( 180deg, rgb(0,71,116) 0%, rgb(28,141,237) 100%);
			text-decoration: none; 
		}
	}
	p{
		display: inline-block;
		font-size: 20px;
		text-transform: uppercase;
		line-height: 20px;
		color:#fff;
		font-weight: 700;
		@media (min-width: 992px) { 
			font-size: 30px;
			line-height: 27px;
	 	}
	}
}
.main-text{
	position: relative;
	@media (min-width: 768px) { 
		padding-top: 105px;
		padding-right: 10px;
 	}
	@media (max-width: 768px) { 
		text-align: center;
 	}
	.logo{
		@media (min-width: 768px) { 
			position: absolute;
			top:0;
			left:0;
		}
	}
	h1{
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		@media (min-width: 992px) { 
			font-size: 92px;
			margin-top: 9px;
	 	}
	}
	.sub-title{
		font-size: 27px;
		@media (min-width: 992px) { 
			font-size: 30px;
	 	}
	}
	p{
		font-size: 18px;
		line-height: 1;
		@media (min-width: 992px) { 
			font-size: 24px;
	 	}
	}
} 

.steps{
	margin: 20px 0px 30px;
	@media (min-width: 768px) {
		margin: 45px 8px 10px;
	}
	&:after{
		content: '';
		display: table;
		clear: both;
	}

	@media (min-width: 768px) {
		display: flex;
	}
	.step.step-3,
	.step.step-1{
		@media (min-width: 768px){
			max-width: 280px;
		}
	}
	.step{
		max-width: 305px; 
		margin: auto;
		@media (min-width: 768px) and (max-width: 992px) {
			display: flex;
			flex-direction: column-reverse;
		}
		@media (max-width: 768px) {
			padding: 0 5px;
			display: block;
			&:not(.step-3){
				margin-bottom: 30px;
			} 
		}
		img{
			margin-right: 5px;
			@media (max-width: 768px) {
				margin-top: 10px;
			}
		}
		.icon-wrap,
		.text{
			display: table-cell;
    		vertical-align: top;
			@media (min-width: 768px) and (max-width: 992px) {
				display: block;
			} 
		}
		h3{
			font-weight: 700;
			font-size: 43px;
			text-transform: uppercase;
			margin: 0;
			line-height: 1;
			@media (min-width: 768px) {
				font-size: 46px;
			}
			span{
				font-size: 36px;
			}
		}
		.title-block{
			margin-bottom: 0;
			line-height: 1;
			font-size: 40px;
			text-transform: uppercase;
			font-weight: 700;
			@media (max-width: 768px) {
				letter-spacing: 1px;
				margin-bottom: 3px;
			}
		}
		p:not(.title-block){
			max-width: 230px;
			margin: auto;
			line-height: 1;
			font-size: 28px;
			@media (min-width: 768px) {
				font-size: 30px;
			}
		}
	}
}

.shapes{
	padding: 14px 0;
	@media (min-width: 768px) { 
		padding: 20px 0 47px;
 	}
	.col-md-4{
		padding-left: 5px;
		padding-right: 5px;
	}
}
.shape{
	max-width: 355px;
	width:100%;
	height: 148px;
	line-height: 148px;
	background-size: contain; 
	background-position: 50%;
	background-repeat: no-repeat;
	margin: 0 auto 11px;
	position: relative;
	text-align: left;
	&.stars{
		background-image: url('./images/five_stars.png');
	}
	&.blog{
		background-image: url('./images/blog_label.png');
	}
	&.facebook{
		background-image: url('./images/fb_label.png');
	}
	p{
		font-size: 28px;
		text-transform: uppercase;
		letter-spacing: -0.25px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -23px;
		padding-left: 10px;
		color: #3b3738;
		line-height: 1;
		max-width: 160px;
		text-align: right;
		width: 100%;
		@media (min-width: 768px) { 
			font-size: 30px;
	 	}	
	}
	.img-btn{
		position: absolute;
		bottom: -15px;
		left:15px;
		background: url('./images/button.png')no-repeat center;
		background-size: cover;
		color: #000;
		text-transform: uppercase;
		font-size: 30px;
		text-align: center;
		display: block;
		line-height: 50px;
		color: #3b3738;
		width: 160px;
   		height: 62px;
		@media (min-width: 768px) { 
			bottom: -20px;
			left:35px;
			width: 174px;
			height: 68px;	
	 	}
	}
}

// footer
footer{
	padding-bottom: 20px;
	padding-top: 10px;
	@media (max-width: 768px) { 
		text-align: center;
 	}		
	.row{
		max-width: 1110px;
    	width: 100%;
    	margin: auto;
	}
	.line{
		background: #ccc;
		padding: 10px 0;
		@media (min-width: 768px) {
			padding: 25px 0;
		}
		.logos{
			img{
				margin-right: 8px;
				@media (max-width: 768px) {
					margin-bottom: 10px;
				}
			}
		}
	}
	.info{
		font-size: 20px;
		line-height: 1;	
		@media (min-width: 768px) {
			padding-right: 25px;
			margin-top: 10px;
			font-size: 18px;
		}
		@media (max-width: 768px) { 
			margin: 25px auto 20px;
			max-width:295px;
			text-align: right;
	 	}	
	}
	.identification{
		font-weight: 900;
		font-size: 18px;
		padding: 10px 0 45px;
		text-align: center;
		@media (min-width: 768px){
			padding: 5px 0;
		}
	}
	.privacy{
		font-size: 18px;
		line-height: 1.3;
		color: #414141;
		letter-spacing: -0.2px;
		display: inherit;
		@media (min-width: 768px) { 
			text-decoration: underline;
			padding: 5px 0;
			&:hover{
				text-decoration: none;
			}
	 	}
	 	@media (max-width: 768px) { 
			max-width:245px;
			margin: auto;
			text-align: right;
	 	}
	}
}

